services:
  web:
    image: ghcr.io/phakphum-dev/otog-web:latest
    environment:
      # https://github.com/vercel/next.js/pull/44627
      - HOSTNAME=0.0.0.0
    networks:
      - api-gateway
    env_file:
      - apps/web/.env.production
      - apps/web/.env.local

  api:
    image: ghcr.io/phakphum-dev/otog-api:latest
    networks:
      - api-gateway
    volumes:
      - ./apps/api/volumes/upload:/app/apps/api/volumes/upload:rw
      - ./apps/api/docs:/app/apps/api/docs:rw
      - ./apps/api/source:/app/apps/api/source:rw

networks:
  api-gateway:
    external: true
